selenium<4
apscheduler
urllib3>=1.26.15,<2
sqlalchemy==1.4.41
requests
pymysql
paramiko
flask==2.3.2
flask_sqlalchemy==3.0.3
flask_cors==3.0.10
flask_restful==0.3.10
schedule==1.2.1
python-dotenv==1.0.0
bs4